.html {
    height: 100%;


}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-weight: 500;
    font-size: 16px;
    font-family: "Fira Sans";
}



.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
    display: block;

}

a {
    display: block;
}

.main__katalog {
    padding: 150px 0px 100px;
}

/*--------------------------------HEADER--------------*/
.header {
    background: rgb(30, 29, 29);
    padding: 5px 0px;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
}

.header__line {
    display: flex;
    align-items: center;

}

.header__logo {}

.header__logo img {
    max-width: 80px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    font-family: "Fira Sans";
    margin-left: 150px;
    color: #fff;
}

.header__nav-item {
    margin-right: 150px;
    font-size: 22px;
    transition: all .3s;
    position: relative;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-item::before {
    content: "";
    width: 0;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: -10px;
    transition: all .3s;
}

.header__nav-item:hover::before {
    content: "";
    width: 100%;
    height: 2px;
    background: #264bd3c7;
    position: absolute;
    bottom: -10px;
}

.header__nav-item:hover {
    color: #264bd3c7;
}

.header__nav-link {}

/* ------------------KATALOG----------------------------------------------------- */


.katalog {
}


.katalog__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../images/4126705.jpg") 0 0 / cover no-repeat;

    
}

.katalog__title {}

.katalog__buttons-list {
    display: grid;
    gap: 20px;
    grid-template: repeat(11, auto) / repeat(2, 1fr);
    margin-bottom: 50px;
}

.katalog__buttons-item {
    font-size: 20px;
    border: 3px solid #000;
    padding: 10px 5px;
    transition: all .3s;
}

.katalog__buttons-item:hover {
    background: #264bd3c7;
    transform: translateY(-5px);
    color: #fff;
}

.katalog__button {}

.katalog__acc {
    background: url("../");
}

.katalog__acc-title {
    font-size: 20px;
    background: rgb(30, 29, 29);
    color: #fff;
    padding: 8px 8px;
    display: flex;
    align-items: center;

}

.katalog__acc-title::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url("../images/arrow__list.svg") 0 0 / 100% no-repeat;
    display: block;
    margin-right: 10px;
    transform: rotate(90deg);
    transition: all .3s;
}

.katalog__acc-title--active::before {
    transform: rotate(270deg);
}

.katalog__acc-list {}

.katalog__acc-item {
    margin-bottom: 5px;
}

.katalog__acc-form {
    padding: 15px;
    display: flex;
    align-items: center;
    background: #fff;
}

.katalog__acc-form--second {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.katalog__acc-form--third {
    display: flex;
    align-items: center;
}

.katalog__acc-label {
    font-size: 20px;
    color: #000000b2;
    margin-right: 10px;
}

.katalog__acc-input {
    border-bottom: 2px solid #000000b2;
    padding: 0px 0px 5px 5px;
    width: 200px;
    transition: all .3s;
}

.katalog__acc-input::placeholder {
    font-size: 16px;
}

.katalog__acc-input:focus {
    transform: scale(1.1);
}

.katalog__acc-elements {
    margin-top: 15px;
}

.katalog__acc-el {
    font-size: 20px;
    color: #000000b2;
    margin-right: 10px;
    margin-bottom: 10px;
}

.katalog__acc-check {}

.katalog__acc-label option {
    font-size: 15px;
    margin: 15px 0px;
}

.katalog__acc-select {
    border: 2px solid #000000b2;
    padding: 5px 5px;
    font-size: 15px;
    display: block;
    margin-top: 5px;
}

.katalog__sort-label {}

.pechat {
    margin-left: 50px;
}

/* --------------------------FOOTER------------ */

.footer{
    height: 10vh;
    background: rgb(30, 29, 29);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}